@model InventoryArchiveOfLindenInventoryTransferredFromAMT_To_SC.Models.InventoryArchiveForLindenWHSE
@{
    ViewBag.Title = "Index";
}


<head>

    <script src="~/Scripts/jquery.fancybox-1.3.4/jquery-1.4.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        .buttonload {
            background-color: #4CAF50; /* Green background */
            border: none; /* Remove borders */
            color: white; /* White text */
            padding: 8px 10px; /* Some padding */
            font-size: 15px /* Set a font size */;
        }
    </style>

</head>

<body>
    <div class="jumbotron">
        <div style="float:left;">
            <a href="@Url.Action("Index", "Calculate")" class="btn btn-primary btn-md"><< Go Back</a>
        </div>
        <div style="float:right;">
            <a href="@Url.Action("Index", "Parameter")" class="btn btn-primary btn-md"><i class="fa fa-gear" style="font-size:20px;"></i> Parameter</a>
        </div>
        <div>
            <br /><br /> <br />
            <h4>
                Inventory Archive of Linden Inventory Transferred from AMT To SC System for Company PetMedic and Company Maxim.
            </h4>
            <div id="devLoader" style="display: none;" align="center">
                <img src="~/Content/loader.gif" />
            </div>
            <br /><br /><br />

            @using (Html.BeginForm("Execute", "Execute", FormMethod.Post))
            {
                <div class="row" style="margin-left:50px;">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Company:</label>
                            @if (ViewBag.ComapanyData != null)
                            {
                                @Html.DropDownListFor(m => m.Company, ViewBag.ComapanyData as SelectList, "--- Select Company ---", htmlAttributes: new { @class = "form-control", @onchange = "BindTicketNo()", id = "Company" })
                            }
                            @if (@ViewBag.ComapanySelect != null)
                            {

                                <label>@ViewBag.ComapanySelect</label>
                            }
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Ticket Number:</label>
                            @Html.DropDownListFor(m => m.Ticket_Num, new SelectList(""), "--- Select Ticket No. ---", htmlAttributes: new { @class = "form-control" })
                            @if (@ViewBag.TicketNoSelect != null)
                            {

                                <label>@ViewBag.TicketNoSelect</label>
                            }
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div style="margin-top:20px;">
                           @* <a href="@Url.Action("Execute","Execute")" class="btn btn-primary btn-mb" id="btnSearchData"><i class="fa fa-search" style="font-size:20px;"></i> Search</a>*@
                            @*<button type="submit" class="btn btn-primary btn-mb" id="btnGetData"><i class="fa fa-search" style="font-size:20px;"></i>Search</button>

                            <button class="buttonload" id="btnLoader" style="display: none;">
                                <i class="fa fa-spinner fa-spin" style="font-size:20px;"></i>&nbsp;&nbsp;Loading
                            </button>*@
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group" style="float:right;margin-top:20px;">
                            @*@Ajax.ActionLink("Calculate", "Create", new AjaxOptions() { LoadingElementId = "dvProgressBar" })*@
                            @*<a href="@Url.Action("Create","Execute")" class="btn btn-success btn-mb" id="btnGetData"><i class="fa fa-download" style="font-size:20px;"></i> Execute</a>*@
                            <button type="submit" class="btn btn-success"><i class="fa fa-download" style="font-size:20px;"></i> Execute</button> 

                            <button class="buttonload" id="btnLoader" style="display: none;">
                                <i class="fa fa-spinner fa-spin" style="font-size:20px;"></i>&nbsp;&nbsp;Loading
                            </button>
                        </div>
                    </div>
                </div>


              }
        </div>
    </div>

   
    @if (ViewBag.ErrorMessage != null)
    {
        <script type="text/javascript">
                alert('@ViewBag.ErrorMessage');
        </script>
    }
    <br /><br />
    <script>
        $(document).ready(function () {
            $("#btnGetData").on("click", function () {
                var CompanyNo = $("#Company").val();
                var TicketNo = $("#Ticket_Num").val();
                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: "Execute/Create?Company=" + CompanyNo + "&Ticket_Num=" + TicketNo,
                        beforeSend: function () {
                            $("#btnGetData").hide();
                            $("#btnLoader").show();
                            $("#devLoader").show();
                            //var loading = $(".overlay");
                            //loading.show();
                            //var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
                            //var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
                            //loading.css({ top: top, left: left });
                        },
                        complete: function () {
                            $("#devLoader").hide();
                            $("#btnLoader").hide();
                            $("#btnGetData").show();
                            //var loading = $(".overlay");
                            //loading.hide();
                            //alert("Download Completed.");
                        },
                        success: function (data) {
                            $("#devLoader").hide();
                            $("#btnLoader").hide();
                            $("#btnGetData").show();
                            var loading = $(".overlay");
                            loading.hide();
                        },
                        error: function () {
                            $("#devLoader").hide();
                            $("#btnLoader").hide();
                            $("#btnGetData").show();
                            //alert("Failed to Download.");
                        },
                    });
                }, 200);
            });
        });
    </script>

    <script type="text/javascript">
        function BindTicketNo() {
            var Company = $('#Company').val();
            // alert(Company);
            $.ajax({
                type: "POST",
                url: "/Execute/GetTicketNo?Company=" + Company,
                contentType: "html",
                success: function (response) {
                    //console.log(response);
                    $("#Ticket_Num").empty();
                    $("#Ticket_Num").append(response);
                }
            });
        }
    </script>


</body>


